.contenedor {

    margin: 0 auto;
    width: 80vw;
    display: flex;


}


.title {

    display: flex;

    border: 0;

    width: 40vw;

}

.lista {
    display: flex;
    border-top: 0;
    border-left: 2px solid #333;
    border-bottom: 0;
    border-right: 0;

    width: 50vw;

}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8vw;
    color: #333;
    margin-right: 1em;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5em;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;

    font-family: 'Times New Roman', Times, serif;

    font-size: 24px;
    font-weight: 400;
    color: #333;

    transition-duration: 300ms;
}


a:link {
    color: #333;
}

a:visited {
    color: #666;
}

a:hover {
    color: #48eae5;
}

a:active {
    color: #333;
}