:root {
    --color-primario: #000;
    --color-green: #6EE9DA;
    --color-green-light: #E1FFFA;

    --tipo-primaria: "roboto", Arial, Helvetica, sans-serif;
    --tipo-titulo: "roboto_serif";


}

body {
    font-family: var(--tipo-primaria);
    font-size: 18px;
}

.contenedor {

    margin: 0 10vw;

    display: flex;

    flex-direction: column;


}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;

    border-top: 0;
    border-left: 0;
    border-bottom: 1px solid #333;
    border-left: 0;

}


.title {

    display: flex;
    border: 0;
    width: 30vw;
    margin-top: 100px;

}





h2 {
    font-family: var(--tipo-titulo);
    font-weight: 500;
    font-size: 4vw;
    color: #000;


    background: linear-gradient(150deg, #000 0 50%, hsl(178.1, 68.6%, 63.7%) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-right: 1em;
    margin-bottom: 30px;

}

h3 {

    font-family: var(--tipo-titulo);
    font-weight: 500;
    font-size: 4vw;
    color: #000;

    margin-right: 1em;
    margin-top: 100px;
    margin-bottom: 10px;

}

.fins {
    font-family: var(--tipo-titulo);
    font-weight: 500;
    font-size: 2vw;
    color: #000;

    margin-right: 1em;
    margin-top: 100px;
    margin-bottom: 10px;
}

.menubox {
    display: flex;
    margin-bottom: 40px;
}

.menu_list {
    display: flex;
    list-style: none;

    font-family: var(--tipo-titulo);
    font-size: 22px;
}

.menu_list li {
    padding: 0 15px 0 15px;
}

.menu_list li+li {
    border-left: 1px solid #333;

}

main {
    display: flex;
    flex-direction: column;
}

#works {
    display: flex;
    flex-direction: column;



    width: 100%;
}


.cardarea {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;

}


.card_left {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 1;
    gap: 20px;
    width: 100%;

}

.card {

    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: #000 solid 1px;
    padding: 10px;
    gap: 20px;
    flex-basis: calc(100%/3 - 14px);

}

.thum {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #A6FFEF;
    padding: 0 10px;

}

.thum img {
    display: block;
    height: 176px;
}

p {
    display: flex;
    margin-top: 15px;
    height: 60px;
    color: #666;


}

.decop {
    display: flex;
    font-size: 20px;
    color: var(--color-primario);
    align-items: center;
    margin-bottom: 15px;

}

.btnarea {
    display: flex;
    gap: 15px;

}

.btn {
    display: flex;
    background-color: var(--color-primario);
    padding: 5px 20px;
    border: 1px solid var(--color-primario);
    color: #fff;
    font-family: var(--tipo-primaria);
    font-size: 14px;

    transition: 200ms;
}


.btn:link {

    background-color: var(--color-primario);

}

.btn:visited {

    background-color: #666;
}

.btn:hover {

    background-color: var(--color-green);
    border: 1px solid var(--color-green);
}

.btn:active {

    background-color: var(--color-primario);
}




#about {
    display: flex;
    justify-content: center;

    flex-direction: column;


}

.aboutbox{
    display: flex;
    width: 100%;

}

.about_izq {

    display: flex;

    flex-direction: column;

    padding-right: 80px;

    width: 70vw;


}



.about_izq_ch ul {
    display: flex;
    
    gap: 5px;

}

.perfil li {

    list-style: none inside;
    padding: 3px;


}


.list_label {
    display: inline-block;
    width: 200px;
    color: #666;
}

.idioma ul  {
    display: flex;
    flex-direction: column;
}

.list_label_idioma {
    display: inline-block;
    width: 185px;
    color: #666;
}

.about_der {

    display: flex;

    width: 30vw;



}

.about_der ul {
    gap: 30px;
    display: flex;
    list-style: none;
    width: 80%;
    
    flex-wrap: wrap;

}
.about_der img{

width: 64px;

}

article {
    margin-top: 30px;
    display: flex;

}

.text {
    display: block;
    color: var(--color-primario);
    margin-bottom: 60px;
  


}





.dl_icon {
    width: 40px;
}


a {
    text-decoration: none;

    font-size: 22px;
    font-weight: 400;
    color: var(--color-primario);

    transition-duration: 300ms;


}


a:link {
    color: var(--color-primario);

}

a:visited {
    color: var(--color-primario);

}

a:hover {
    color: var(--color-green);

}

a:active {
    color: var(--color-primario);

}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: 100px;
    border-top: #000 solid 1px;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;

    font-size: 10px;
    color: #666;
    justify-content: center;



}

#worksold{
    display: flex;
    flex-direction: column;
}

.contents{
    width: 100%;
    display: flex;
    align-items: flex-start;

    margin-top: 30px;


}

.nav_workold {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;

    background-color: #6EE9DA;
    padding-top: 5px;
    padding-bottom: 5px;
    

}


.nav_workold ul {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.8em;
}



.nav_workold ul li {

    display: inline-block;
   
    font-family: var(--tipo-primaria);
    list-style-type: none;
    padding-left: 20px;
}



.menu_parent{
    display: flex;
    flex-direction: column;
    
}

.menu_child{
    display: flex;
    flex-direction: column;

    margin-left: 20px;
    
}

.menu_child ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}

.menu_child ul li{
    display: flex;
    list-style-type: none;
}


.btn2{
    border: none;
    background-color: #fff;
    font-family: var(--tipo-primaria);
    font-size: 20px;
    transition: 200ms;
    color:#000;
    margin-bottom: 10px;
    text-align: left;
}


.btn2:link {

    color:#000;

}

.btn2:visited {

    color:#666;
}

.btn2:hover {

    color:var(--color-green)


}

.btn2:active {

    color:var(--color-green)
}


.btn3{
    border: none;
    background-color: #fff;
    font-family: var(--tipo-primaria);
    font-size: 14px;
    transition: 200ms;
    color:#000;
    text-align: left;
}


.btn3:link {

    color:#000;

}

.btn3:visited {

    color:#666;
}

.btn3:hover {

    color:var(--color-green)


}

.btn3:active {

    color:var(--color-green)
}





.show_content{
    

    display: flex;
    position: relative;

    margin-left: 5vw;

    border-left: 1px black solid;

}

.content_image{
    position: absolute;
    gap: 20px;
}

.content_image_w{
    position: absolute;
    gap: 20px;
}

.content_image_m{
    position: absolute;
    gap: 20px;
}

.content_image_l{
    position: absolute;
    gap: 20px;
}

.content_image_w img{

    width: 42vw;
    margin-bottom: 50px;
    border:#666 1px solid
}


.content_image_m img{
    width: 42vw;
    border:#666 1px solid
}

.content_image img{
    width: 42vw;
    margin-bottom: 20px;
}


.content_image_l img{
    width: 28vw;
    margin-bottom: 20px;
}



.ocultar{
    display: none;

}

.mostrar{
    display: block;

}


